{% autoescape true %}
  <nav class="navbar navbar-inverse">
    <div class="container">
      <button id="menu-button" class="visible-xs-block fa fa-bars" type="button" data-toggle="collapse" data-target=".navbar-collapse"></button>
      <div class="navbar-header">
        <a class="navbar-brand hidden-xs" href="{{ SITEURL }}/">{{ SITENAME }}</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ SITEURL }}/">Home</a></li>
          {% for title, url in MENUITEMS %}
            <li><a href="{{ url }}">{{ title }}</a></li>
          {% endfor %}
          {% for page in PAGES %}
            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
{% endautoescape %}
