/env
/src/content/x*
/src/theme/static/css/pygments.css
/src/theme/static/css/style.css
/theme/.webassets-cache
/theme/css/*.css
/theme/css/*.less
/theme/css/Makefile
/theme/js/*.js
__pycache__

!/theme/css/*.min.css
!/theme/js/*.min.js
