{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="canonical" href="{{ SITEURL|e }}/{{ page.url|e }}">
{% endblock %}

{% block title %}{{ page.title|e }} - {{ super() }}{% endblock %}

{% block content %}
  {% autoescape true %}
    <article>
      <header>
        <h1><a href="{{ SITEURL }}/{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
      </header>
      <div class="body">{{ page.content|safe }}</div>
    </article>
  {% endautoescape %}
{% endblock %}
