{% autoescape true %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ SITEURL }}/theme/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ SITEURL }}/theme/favicon-32x32.png">
  {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed">
  {% endif %}
  {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed">
  {% endif %}
  {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">
  {% endif %}
  {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed">
  {% endif %}
  {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed">
  {% endif %}
  {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed">
  {% endif %}
  {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed">
  {% endif %}
  {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed">
  {% endif %}
  {% if FAVICON %}
    <link rel="shortcut icon" href="{{ FAVICON }}" type="image/x-icon">
  {% endif %}
  {% if ICON %}
    <link rel="icon" href="{{ ICON }}" type="image/x-icon">
  {% endif %}
  {% if SHORTCUT_ICON %}
    <link rel="shortcut icon" href="{{ SHORTCUT_ICON }}" type="image/x-icon">
  {% endif %}
  {% if MINIFY_CSS %}
    {% assets filters="rcssmin", output="css/style.min.css", "css/style.css" %}
      <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}
  {% else %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">
  {% endif %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700%7COpen+Sans:400,700">
  {% if MINIFY_JS %}
    {% assets filters="jsmin", output="js/scripts.min.js", "js/details.js", "js/navbar.js" %}
      <script src="{{ SITEURL }}/{{ ASSET_URL }}" defer></script>
    {% endassets %}
  {% else %}
    <script src="{{ SITEURL }}/theme/js/details.js" defer></script>
    <script src="{{ SITEURL }}/theme/js/navbar.js" defer></script>
  {% endif %}
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [ [ '$', '$' ], [ '\\(','\\)' ] ]
      },
    };
  </script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3.1.2/es5/tex-mml-chtml.js" defer></script>
  {% if GOATCOUNTER_URL %}
    <script src="https://gc.zgo.at/count.js" defer data-goatcounter="{{ GOATCOUNTER_URL }}"></script>
  {% endif %}
  {% for link in REL_ME_LINKS %}
    <link href="{{ link }}" rel="me">
  {% endfor %}
{% endautoescape %}
