{% autoescape true %}
  <div class="main-navbar-wrapper">
    <nav class="main-navbar">
      <button type="button" class="main-navbar-expand"></button>
      <div class="main-navbar-sitename">
        <a href="{{ SITEURL }}/" rel="home">{{ SITENAME }}</a>
      </div>
      <div class="main-navbar-links">
        <ul>
          <li><a href="{{ SITEURL }}/" rel="home">Home</a></li>
          {% for title, url in MENUITEMS %}
            <li><a href="{{ url }}">{{ title }}</a></li>
          {% endfor %}
          {% for page in pages %}
            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
{% endautoescape %}
