{% autoescape true %}
  <nav>
    <ul class="pagination">
      {% if articles_previous_page %}
        <li><a href="{{ SITEURL }}/{{ articles_previous_page.url }}" rel="prev" title="Previous Page"><span class="fa fa-chevron-left"></span></a></li>
      {% else %}
        <li class="disabled"><span class="fa fa-chevron-left"></span></li>
      {% endif %}
      {% for page_num in articles_paginator.page_range %}
        <li {% if page_num == articles_page.number %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ articles_paginator.page(page_num).url }}" title="Page {{ page_num }}">{{ page_num }}</a></li>
      {% endfor %}
      {% if articles_next_page %}
        <li><a href="{{ SITEURL }}/{{ articles_next_page.url }}" rel="next" title="Next Page"><span class="fa fa-chevron-right"></span></a></li>
      {% else %}
        <li class="disabled"><span class="fa fa-chevron-right"></span></li>
      {% endif %}
    </ul>
  </nav>
{% endautoescape %}
