<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: { inlineMath: [ [ '$', '$' ], [ '\\(','\\)' ] ] },
    elements: [ 'content' ]
  });
</script>
{# The following resources are preloaded in <head> #}
<script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.6.1/MathJax.js" async defer></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.6.1/config/TeX-AMS_HTML.js" async defer></script>
{% if DISQUS_SITENAME %}
  <script src="//{{ DISQUS_SITENAME }}.disqus.com/count.js" async defer></script>
{% endif %}
