<script>
  var cb = function() {
    var h = document.getElementsByTagName('head')[0];
    var l = document.createElement('link');
    l.rel = 'stylesheet';
    l.href = '//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Open+Sans:400,700';
    h.parentNode.insertBefore(l, h);
    var l = document.createElement('link');
    l.rel = 'stylesheet';
    l.href = '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css';
    h.parentNode.insertBefore(l, h);
  };
  var raf = requestAnimationFrame || mozRequestAnimationFrame ||
      webkitRequestAnimationFrame || msRequestAnimationFrame;
  if (raf) raf(cb);
  else window.addEventListener('load', cb);
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: { inlineMath: [ [ '$', '$' ], [ '\\(','\\)' ] ] },
    elements: [ 'content' ]
  });
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.6.1/MathJax.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.6.1/config/TeX-AMS_HTML.js"></script>
{% if DISQUS_SITENAME %}
  <script>
    var disqus_shortname = {{ DISQUS_SITENAME|tojson }};
    (function() {
      var s = document.createElement('script');
      s.async = true;
      s.defer = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
    })();
  </script>
{% endif %}
