@import "about.less";
@import "colors.less";
@import "comments.less";
@import "content.less";
@import "footer.less";
@import "header.less";
@import "images.less";
@import "table-of-contents.less";

@screen-width-small:  768px;
@screen-width-medium: 992px;
@screen-width-large:  1200px;

@content-width-small:  530px;
@content-width-medium: 630px;
@content-width-large:  830px;

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;

  background: @color-main-background;
}

.hidden {
  display: none;
}

.main-content-width() {
  @media (min-width: @screen-width-small) {
    width: @content-width-small;
  }
  @media (min-width: @screen-width-medium) {
    width: @content-width-medium;
  }
  @media (min-width: @screen-width-large) {
    width: @content-width-large;
  }
}

.boxed(@border-color) {
  display: block;
  border: 0.1rem solid @border-color;
  border-radius: 0.2em;
}

.underline-on-hover() {
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
  }
}

.inline-icon(@icon-url) {
  vertical-align: middle;
  background: url(@icon-url) no-repeat;
  background-size: contain;
}

.inline-feather-icon(@icon-name) {
  .inline-icon("https://cdn.jsdelivr.net/npm/feather-icons@4.29.0/dist/icons/@{icon-name}.svg");
}

.inline-simple-icon(@icon-name) {
  .inline-icon("https://cdn.jsdelivr.net/npm/simple-icons@8.3.0/icons/@{icon-name}.svg");
}

.icon(@icon-url) {
  &::before {
    content: '';
    display: inline-block;
    padding-right: 0.5em;
    width: 1em;
    height: 1em;
    .inline-icon(@icon-url);
  }
}

.feather-icon(@icon-name) {
  .icon("https://cdn.jsdelivr.net/npm/feather-icons@4.29.0/dist/icons/@{icon-name}.svg");
}

.simple-icon(@icon-name) {
  .icon("https://cdn.jsdelivr.net/npm/simple-icons@8.3.0/icons/@{icon-name}.svg");
}
