/*! Site-specific rules. */

a, a:hover {
  -webkit-transition: background 300ms;
  -moz-transition: background 300ms;
  -o-transition: background 300ms;
  transition: background 300ms;
}

.main-header {
  position: relative;
  z-index: 99;
  height: 120px;
  margin-bottom: 62px;
  background: url(/theme/background.jpg) no-repeat;
}

@media only screen and (min-width: 2166px) {
  .main-header {
    background-size: 100% 100%;
  }
}

.navbar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.navbar button {
  color: #ffffff;
  background: none;
  padding: 0;
  border: 0;
  outline: none;
  height: 60px;
  float: right;
  font-size: 24px;
  text-align: right;
}

.navbar-brand {
  padding-right: 0;
}

@media (max-width: 290px) {
  .navbar-brand {
    display: none;
  }
}

.main-footer {
  background: #f7f7f7;
  padding-top: 20px;
  padding-bottom: 40px;
}

#content, .sidebar {
  margin-top: 40px;
  margin-bottom: 10px;
}

.sidebar {
  background: #f7f7f7;
  padding-top: 30px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.sidebar .widget {
  padding: 0 10px 30px 10px;
}

.sidebar .widget h1 {
  margin-top: 0;
  font-size: 24px;
}

.sidebar .widget p {
  padding-top: 0;
}

.sidebar .widget ul.articles {
  padding: 0;
  list-style-type: none;
}

.sidebar .widget ul.articles li {
  margin-bottom: 8px;
  padding-bottom: 6px;
  border-bottom: 1px solid #d0d0d0;
}

.sidebar .widget ul.articles li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.sidebar .tags > li {
  padding: 0 0 5px 0;
}

@media only screen and (min-width: 970px) {
  #content {
    padding-right: 100px;
  }
}

#content pre {
  overflow: auto;
  word-wrap: normal;
}

#content img {
  max-width: 100%;
  height: auto;
  width: auto;
}

#content > article, #content > footer {
  margin-bottom: 60px;
}

@media only screen and (max-width: 768px) {
  #content > article, #content > footer {
    padding: 5px 4px;
    margin: 0 4px;
  }
}

#content > article > header {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #333333;
}

#content > article > header h1 a {
  text-decoration: none;
  color: #000000;
}

#content > article > footer {
  margin-top: 40px;
  padding-top: 30px;
  border-top: 1px dotted #333333;
}

#content > article > footer .row {
  padding-bottom: 15px;
}

#content > article > footer .row:last-child {
  padding-bottom: 0;
}

#content > article figure {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-top: 10px;
  border-radius: 4px;
  border: 1px solid #cccccc;
}

#content > article figure figcaption {
  padding: 10px;
  margin-top: 10px;
  background: #f5f5f5;
}

@media only screen and (max-width: 768px) {
  #content > article figure figcaption {
    padding-left: 0;
    padding-right: 0;
  }
}

.details > span {
  display: inline-block;
  margin-right: 15px;
}

.details > span:last-child {
  margin-right: 0;
}

.details .fa {
  width: 21px;
}

.details .tags {
  display: inline;
}

.details .tags > li {
  padding: 0;
  margin-right: 6px;
}

.article-summary {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dotted #333333;
}

.article-summary:last-child {
  border-bottom: 0;
}

.article-summary > header {
  padding-bottom: 22px;
}

.article-summary .summary > h2 {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 23px;
}

.social {
  margin-right: 10px;
}

.social, .social .fb-share-button > span {
  vertical-align: top !important;
}

@media only screen and (max-width: 768px) {
  .social {
    display: block !important;
    margin-bottom: 6px;
    margin-right: 0;
  }
}
