{% extends "base.html" %}

{% block head %}
  {% autoescape true %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/tocbot@4.12.0/dist/tocbot.min.js" defer></script>
    <script>
      window.addEventListener('DOMContentLoaded', function() {
        tocbot.init({
          tocSelector: '#toc nav',
          contentSelector: 'article .body',
          headingSelector: 'h1, h2, h3, h4, h5, h6',
          activeLinkClass: 'active',
        });
      });
    </script>
    {% for keyword in article.keywords %}
      <meta name="keywords" content="{{ keyword }}">
    {% endfor %}
    {% for description in article.description %}
      <meta name="description" content="{{ description }}">
    {% endfor %}
    {% for tag in article.tags %}
      <meta name="tags" content="{{ tag }}">
    {% endfor %}
    <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">
  {% endautoescape %}
{% endblock %}

{% block title %}{{ article.title|e }} - {{ super() }}{% endblock %}

{% block content %}
  {% autoescape true %}
    <article>
      <header>
        <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title }}">{{ article.title }}</a></h1>
        {% include "_includes/article-details.html" %}
      </header>
      <div class="wrapper">
        <aside id="toc">
          <nav></nav>
        </aside>
        <div class="body">{{ article.content|safe }}</div>
      </div>
    </article>
    {% if DISQUS_SITENAME %}
      <section>
        <div class="comments">
          <div id="disqus_thread"></div>
          <noscript>Comments are powered by <a href="https://disqus.com/?ref_noscript">Disqus</a>. Enable JavaScript to see them.</noscript>
        </div>
      </section>
    {% endif %}
  {% endautoescape %}
{% endblock %}

{% block footer %}
  {{ super() }}
  {% if DISQUS_SITENAME %}
    <script>
      var disqus_shortname = {{ DISQUS_SITENAME|tojson }};
      var disqus_identifier = {{ article.slug|tojson }};
      var disqus_title = {{ article.title|tojson }};
      var disqus_url = {{ (SITEURL + '/' + article.url)|tojson }};
    </script>
    <script src="//{{ DISQUS_SITENAME }}.disqus.com/embed.js" defer></script>
  {% endif %}
{% endblock %}
