{% extends "base.html" %}

{% block head %}
  {% autoescape true %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/tocbot@4.12.0/dist/tocbot.min.js" defer></script>
    <script>
      window.addEventListener('DOMContentLoaded', function() {
        tocbot.init({
          tocSelector: '.article-toc nav',
          contentSelector: 'main .article-body',
          headingSelector: 'h1, h2, h3, h4, h5, h6',
          activeLinkClass: 'active',
        });
      });
    </script>
    {% for keyword in article.keywords %}
      <meta name="keywords" content="{{ keyword }}">
    {% endfor %}
    {% for description in article.description %}
      <meta name="description" content="{{ description }}">
    {% endfor %}
    {% for tag in article.tags %}
      <meta name="tags" content="{{ tag }}">
    {% endfor %}
    <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
    <meta property="og:locale" content="{{ article.lang }}">
    <meta property="og:title" content="{{ article.title }}">
    <meta property="og:author" content="{{ AUTHOR }}">
    {% if article.metadata.image %}
      <meta property="og:image" content="{{ SITEURL }}/{{ article.metadata.image }}">
    {% endif %}
  {% endautoescape %}
{% endblock %}

{% block title %}{{ article.title|e }} - {{ super() }}{% endblock %}

{% block content %}
  {% autoescape true %}
    <article class="article">
      <header>
        <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title }}">{{ article.title }}</a></h1>
        {% include "_includes/article-details.html" %}
      </header>
      <div class="article-wrapper">
        <aside class="article-toc">
          <nav></nav>
        </aside>
        <div class="article-body">{{ article.content|safe }}</div>
      </div>
      {% if REMARK42_URL %}
        <section id="comments" class="comments">
          <h2>Comments</h2>
          <div id="remark42"></div>
          <noscript>Comments are powered by <a href="https://remark42.com/">Remark42</a>. Enable JavaScript to see them.</noscript>
        </section>
      {% endif %}
    </article>
  {% endautoescape %}
{% endblock %}
