<!doctype html>
<html lang="{{ DEFAULT_LANG|e }}">
  <head>
    {% block head %}{% include "_includes/head.html" %}{% endblock %}
    <title>{% block title %}{{ SITENAME|e }}{% endblock %}</title>
  </head>
  <body>
    <header id="main-header">{% block nav %}{% include "_includes/nav.html" %}{% endblock %}</header>
    {% block main %}<main id="content">{% block content %}{% endblock %}</main>{% endblock %}
    <footer id="main-footer">{% block footer %}{% include "_includes/footer.html" %}{% endblock %}</footer>
  </body>
</html>
