<!doctype html>
<html lang="{{ DEFAULT_LANG|e }}">
  <head>
    {% block head %}{% include "_includes/head.html" %}{% endblock %}
    {% if REMARK42_URL %}
      <script>
        window.remark_config = {
          host: {{ REMARK42_URL|tojson }},
          site_id: {{ REMARK42_SITE_ID|tojson }},
        }
      </script>
      <script src="{{ REMARK42_URL }}/web/embed.js" defer></script>
      <script src="{{ REMARK42_URL }}/web/counter.js" defer></script>
    {% endif %}
    <title>{% block title %}{{ SITENAME|e }}{% endblock %}</title>
  </head>
  <body>
    <header id="main-header">{% block nav %}{% include "_includes/nav.html" %}{% endblock %}</header>
    {% block main %}<main id="content">{% block content %}{% endblock %}</main>{% endblock %}
    <footer id="main-footer">{% block footer %}{% include "_includes/footer.html" %}{% endblock %}</footer>
  </body>
</html>
