{% extends "base.html" %}

{% block title %}{{ category|e }} - {{ super() }}{% endblock %}

{% block content %}
  {% autoescape true %}
    <article class="article-list category">
      <header>
        <h1><a href="{{ SITEURL }}/{{ category.url }}" rel="bookmark" title="{{ category }}">Category: {{ category }}</a></h1>
        <div class="article-count">{{ articles|count }} article{{ 's' if articles|count != 1 else ''}} in this category</div>
      </header>
      <ul class="article-list">
        {% for article in articles_page.object_list %}
          <li>
            <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title }}">{{ article.title }}</a></h2>
            {% include "_includes/article-details.html" %}
          </li>
        {% endfor %}
      </ul>
      {% if articles_paginator.num_pages > 1 %}
        <nav class="pagination">{% include "_includes/pagination.html" %}</nav>
      {% endif %}
    </article>
  {% endautoescape %}
{% endblock %}
