{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="canonical" href="{{ SITEURL|e }}">
{% endblock %}

{% block content %}
  {% autoescape true %}
    <div id="latest">
      <h1>Latest articles</h1>
      <ul class="articles">
        {% for article in articles_page.object_list %}
          <li>
            <h3><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title }}">{{ article.title }}</a></h3>
            {% include "_includes/article-details.html" %}
          </li>
        {% endfor %}
      </ul>
      {% if articles_paginator.num_pages > 1 %}
        <footer>{% include "_includes/pagination.html" %}</footer>
      {% endif %}
    </div>
  {% endautoescape %}
{% endblock %}
